#texto {
    font-family: Arial, Helvetica, sans-serif;
    background: lightgray;
    color: black;
    padding: 10% 10% 20% 15%;
    font-size: 200%;
    border: 20px black solid;
    border-bottom-left-radius: 200px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 200px;

}